<h1>Reset password!</h1>

<form action="/auth/forgotPassword" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <button type="submit">Send request</button>
</form>