<h1>Reset password!</h1>
<form onsubmit="return validatePassword()" action="/auth/resetPassword/{{email}}" method="POST">
    <input type="password" id="newPassword" name="newPassword" placeholder="New password" required>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>

    <button type="submit">Update password</button>
</form>

<script>
function validatePassword() {
  var newPassword = document.getElementById("newPassword").value;
  var confirmPassword = document.getElementById("confirmPassword").value;

  if (newPassword !== confirmPassword) {
    alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
    return false;
  }

  return true;
}
</script>