<h2>Register</h2>

<form action="" id="signupForm">
    <label for="">Name</label>
    <input type="text" name="first_name">
    
    <label for="">Last Name</label>
    <input type="text" name="last_name">

    <label for="">Age</label>
    <input type="number" name="age">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Sign Up</button>
</form>

<script src="/js/signup.js"></script>